################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Projeto/.vs/Design_Patterns/v16/Server/sqlite3
/Projeto/.vs/Design_Patterns/v16
/Projeto/DesignPatterns
/Projeto/DesignPatterns_Examples/obj
/.vs/Design_Patterns
/Projeto/DesignPatternsConsole/obj
/Project/.vs/Design_Patterns
/Project/DesignPatterns/obj
/Project/DesignPatternsConsole/obj
/Project/DesignPatterns_Examples/obj
/Project/DesignPatternsExamples/obj
/Project/FactoryMethod/obj
/Project/.vs/Design-Patterns
/.vs
/Project/FactoryMethod/bin/Debug/netcoreapp3.0
/Project/AbstractFactoryConsole
/Project/DependencyValidation
/Project/SingletonConsole
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.runtimeconfig.json
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.runtimeconfig.dev.json
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.pdb
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.exe
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.dll
/Project/PrototypeConsole/bin/Debug/netcoreapp3.0/PrototypeConsole.deps.json
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.pdb
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.exe
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.dll
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.csprojAssemblyReference.cache
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.csproj.FileListAbsolute.txt
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.assets.cache
/Project/PrototypeConsole/obj/Debug/netcoreapp3.0/PrototypeConsole.AssemblyInfoInputs.cache
/Project/PrototypeConsole/obj/PrototypeConsole.csproj.nuget.g.targets
/Project/PrototypeConsole/obj/PrototypeConsole.csproj.nuget.g.props
/Project/PrototypeConsole/obj/PrototypeConsole.csproj.nuget.dgspec.json
/Project/PrototypeConsole/obj/PrototypeConsole.csproj.nuget.cache
/Project/AdapterConsole/bin/Debug/netcoreapp3.0
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.pdb
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.exe
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.dll
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.csproj.FileListAbsolute.txt
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.assets.cache
/Project/AdapterConsole/obj/Debug/netcoreapp3.0/AdapterConsole.AssemblyInfoInputs.cache
/Project/AdapterConsole/obj/project.assets.json
/Project/AdapterConsole/obj/AdapterConsole.csproj.nuget.g.targets
/Project/AdapterConsole/obj/AdapterConsole.csproj.nuget.g.props
/Project/AdapterConsole/obj/AdapterConsole.csproj.nuget.dgspec.json
/Project/AdapterConsole/obj/AdapterConsole.csproj.nuget.cache
